/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9e3030; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Navbar styles */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px; /* Add margin between nav items */
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 5px; /* Rounded corners */
}

.navbar a:hover {
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

/* Hidden section for packs */
.packs-section {
    display: none;
    text-align: center;
    padding: 20px;
}

.packs-section img {
    margin: 5px;
    cursor: pointer; /* Add pointer cursor to images */
}

.packs-section .large-packimg img {
    width: 200px; /* Larger size for top images */
    height: auto;
}

.packs-section .small-packimg img {
    width: 100px; /* Smaller size for bottom images */
    height: auto;
}

/* Additional styles */
h1 {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin: 0;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

h3 {
    margin-top: 0;
}
